<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>        
        <!-- *****Agent Setting*****-->

        <!-- UDP -->
        <add key="UDP_Port" value="5560" />
                        
        <add key="SqlCommand_Timeout" value="30" />
        
        <!-- JOB_Run的逾時設定，單位：秒-->
        <add key="SqlCommand_JobRun_Timeout" value="30" />
        
        <!-- Timer(當啟動SqlDependency出現Exception，為維持服務不中斷，設定間隔做重新執行，單位：毫秒) -->
        <add key="Timer_Set_For_RestartBroker" value="10000" />
        
        <!-- Timer(取得server_udp，單位：毫秒)-->
        <add key="Timer_Set_For_Get" value="10000" />

        <!-- Broker的模式：mtk or other-->
        <add key="Far_Service_Type" value="mtk" />

        <!-- 設定記錄Log等級，設定等級以上(含)才寫入Log -->
        <add key="LogLevel" value="7" />
        
        <!-- 設定Agent啟動模式，1=Console/2=Windows -->
        <add key="StartMode" value="1" />
        
    </appSettings>    
    
    <connectionStrings>  
        <add name="MTKGateway" connectionString="ZDaPMAc8KaUkv9zgvLaSdRjecwLPLR4PI2IV37RXhefSneU0EJ3KtwJtUSeN0omCElfOi04DIT5gbfh5xvFKI4Ip1w9nkmXgggD7FLQsPzKeS7e52A2D561329REHIfC" />
        <add name="DBConnCom" connectionString="libDBConnTSB.dll@DBConnTSBLibrary.DBConn@ProcessDBConn" />
        <add name="DBConnExt" connectionString=";Application Name=BrokerAgent;Max Pool Size=200;" />
        <add name="SSL" connectionString="true" />
        <add name="LdapHost" connectionString="seldap.taishinbank.com.tw" />
        <add name="SearchBase" connectionString="o=tsbank" />
        <add name="SysCode" connectionString="MBPUSH" />
        <add name="CStr" connectionString="5" />
    </connectionStrings>
</configuration>
